div#sorting-panel {
    position: fixed;
    left: -1px;
    top: 50%;
    border: 1px solid black;
    border-radius: 0 5px 5px 0;
    font-size: 5mm;
    padding: 2mm;
}

div#filter-panel {
    position: fixed;
    left: -1px;
    top: calc(50% + 2cm);
    border: 1px solid black;
    border-radius: 0 5px 5px 0;
    font-size: 5mm;
    padding: 2mm;
}
