div#sorting-panel {
    color: black;
}

div#filter-panel {
    color: black;
}

span.tGrid-cell.width--all-12 {
    text-align: right;
}

span.tGrid-cell.width--all-12 > div {
    display: inline-block;
    border: 1px solid black;
    padding: 2mm;
    margin: 3mm 3mm 0 0;
}
