ul.comment_text_tools {
    display: block;
}

ul.comment_text_tools li {
    background: #fdb201;
    border: 0;
    color: #56400c;
    cursor: pointer;
    display: inline-block;
    font: bold 12px 'Open Sans', Tahoma, Arial, sans-serif;
    height: 24px;
    line-height: 16px;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
